@import "compass/css3/transform";
@import "compass/css3/transition";

$CARD_TRANSITION_DURATION: 300ms;

.vertigo {
  height: 50%;
  margin: 15% 25%;
  position: absolute;
  width: 50%;
  @include perspective(1000px);
  @include perspective-origin(50% 50%);
  @include transform-style(preserve-3d);
}

  .vertigo .card {
    float: left;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .vertigo.transition .card {
    @include transition(all $CARD_TRANSITION_DURATION);
  }
